div{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 2px solid red;
    margin: 5px;
}
.box{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
#box1{
    box-sizing: border-box;
    animation-name: bruh;
    background-color: white;
    animation-duration: 3s;
    animation-delay: 2ms;
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* animation:  3s timing-function delay iteration-count direction fill-mode; */
}

@keyframes bruh{
0%{
    top: 0px;
    left: 0px;
    
}
/* 50%
{
    margin-top: 50px;
    margin-bottom: 50px;
} */
100%{
    top: 0px;
    left: 0px;
    transform: rotate(5turn);
    height: 0px;
    width: 0px;
    margin: 50px;
    /* transform: perspective(10px) translateZ(-100px); */
}
}
.yyyy{
    background-color: aqua;
    border: 2px solid aqua;
}
/* }
#box2{
    position: fixed;
}
#box3{
    position: fixed;
    margin-top: 200px;
} */
